# FICHIER DE SORTIE
output.png
# FICHIER INTERM2DIAIRE
.coverage
*.py[oc]
build/
dist/
wheels/
docs_md/build_prod/
docs_md/source_old/
*.egg-info

# Virtual environments
.venv

# MyST build outputs
_build
